main {
  min-height: 100vh;
  background-color: rgb(245,245,220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero-logo{
    max-width: 500px;
}
main .login-btn{
    all: unset;
    background-color: rgba(176, 176, 176, 0.505);
    padding: 10px 25px;
    color: rgb(9, 113, 9);
    font-size: larger;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
main .login-btn:hover{
      background-color: rgba(176, 176, 176, 0.805);
}
main .btn-container{
    width: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: row-reverse;
}
